html,
body,
div{
    margin: 0;
    padding: 0;
}

body {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
}

.header {
    border-bottom: solid blueviolet 2px;
    font-size: 30px;
    padding-top: 20px;
    margin-bottom: 30px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.tag {
    font-size:12px;
    font-weight: bold;
    width:25%;
}

.value {
    font-size: 12px;
}
