<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel='stylesheet' href='/css/style.css'/>
</head>
<body>
<div class="container">
    <div class="header">
        Exif Viewer
    </div>

    <div th:if="${message}">
        <h2 th:text="${message}"/>
    </div>

    <div>
        <form method="POST" enctype="multipart/form-data" action="/">
            <table>
                <tr>
                    <td>Select a file to upload:</td>
                    <td>
                        <input type="file" name="file"/>
                    </td>
                    <td><input type="submit" value="Upload"/></td>
                </tr>
            </table>
        </form>
    </div>

    <div>
        <ul>
            <li th:each="file : ${files}">
                <a th:href="${file.href}" th:text="${file.rel}"/>
            </li>
        </ul>
    </div>
    <div>
        <table>
            <tr th:each="tag : ${tags}">
                <td class="tag" th:text="${tag.tag}"></td>
                <td class="value" th:text="${tag.value}"></td>
            </tr>
        </table>
    </div>
</div>

</body>
</html>